.header-wrapper {
	header {
		position: relative;
		width: 100vw;
		position: fixed;
		padding: 20px 15px;
		color: #111;
		z-index: 100;
		h1 {
			text-align: center;
			font-size: 36px;
		}
		svg {
			position: absolute;
			cursor: pointer;
			top: 30px;
			right: 20px;
			font-size: 24px;
			color: black;
		}
	}
	@include responsive(T) {
		header {
			@include flexbox(between);
			padding: 20px 35px;
			height: 80px;
			text-align: start;
			ul {
				@include flexbox(start, start);
				gap: 0 20px;
				li {
					cursor: pointer;
					position: relative;
					font-weight: 600;
					font-size: 14px;
				}
				li:before {
					bottom: -5px;
					position: absolute;
					content: "";
					width: 0%;
					height: 1px;
					background-color: red;
					transition: 200ms ease-in-out;
				}
				li:hover::before {
					width: 100%;
				}
			}
		}
	}
}
