.trip-wrapper {
	position: relative;
	padding: 90px 0;
	.trip {
		width: 90vw;
		margin: 0 auto;
		.en-title {
			h1 {
				width: 100%;
				font-size: 44px;
				font-weight: 400;
				line-height: 1.1;
			}
			p {
				margin-top: 24px;
				font-weight: 700;
			}
		}
		.trip-info {
			@include flexbox(between);
			flex-wrap: wrap;
			gap: 50px 0px;
			li {
				width: 42%;
				overflow: hidden;
				.img-box {
					cursor: pointer;
					position: relative;
					height: 50vw;
					img {
						@include img-style;
						height: 100%;
					}
					img:hover {
						opacity: 0.8;
						transform: scaleX(1.05) scaleY(1.05);
					}
					.location {
						position: absolute;
						right: 0;
						bottom: 10px;
						padding: 5px;
						font-size: 12px;
						background-color: #111;
						color: #fff;
					}
					.info {
						position: absolute;
						left: -10px;
						top: -10px;
						color: #111;
						writing-mode: vertical-rl;
						background-color: #fff;
						padding: 5px;
					}
				}
				.name {
					margin-top: 10px;
					font-size: 14px;
					font-weight: 500;
				}
				.theme {
					margin-top: 10px;
					font-size: 12px;
					color: #262626;
				}
			}
			.li2,
			.li4,
			.li6 {
				margin-top: 40px;
			}

			.img-box::before {
				content: "";
				position: absolute;
				height: 100%;
				background-color: black;
				animation: overlay 5500ms ease;
			}
		}
		.view {
			position: absolute;
			right: 0;
			bottom: -26px;
			margin-top: 35px;
			width: 235px;
			button {
				width: 100%;
				line-height: 52px;
				background-color: #111;
				color: #fff;
				transition: 150ms ease-in-out;
			}
			button:hover {
				color: #262626;
				background: #fff;
				box-shadow: 0 0 0 1px #262626 inset;
			}
		}
	}
	@include responsive(T) {
		.trip {
			.en-title {
				h1 {
					font-size: 55px;
				}
				p {
					font-size: 24px;
				}
			}
			.trip-info {
				margin-top: 60px;
				li {
					width: 28.33%;
					.img-box {
						height: 35vw;
					}
					.name {
						font-size: 16px;
						font-weight: 700;
					}
					.theme {
						font-size: 14px;
					}
					.info {
						font-weight: 700;
					}
				}
				.li2,
				.li5 {
					margin-top: 50px;
				}
				.li3,
				.li6 {
					margin-top: 100px;
				}
				.li4 {
					margin-top: 0;
				}
			}
			.view {
				width: 290px;
			}
		}
	}
	@include responsive(D) {
		.trip {
			.en-title {
				width: 70.923vw;
				margin: 0 auto;
				h1 {
					font-size: 70px;
				}
			}
			.trip-info {
				width: 87.923vw;
				max-width: 1536px;
				margin-left: auto;
				margin-right: auto;
				li {
					.img-box {
						height: 31.5vw;
						.location {
							font-size: 16px;
							padding: 10px;
						}
						.info {
							font-size: 22px;
						}
					}
					.name {
						font-size: 18px;
					}
					.theme {
						font-size: 16px;
					}
				}
			}
			.view {
				width: 340px;
				button {
					line-height: 65px;
				}
			}
		}
	}
}
.trip-wrapper::before {
	content: "";
	width: 100%;
	height: calc(100% - 182px);
	background-color: #f6f6f6;
	position: absolute;
	top: 182px;
	left: 0;
	z-index: -1;
}
